@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
@keyframes toggleslide {
    from {
        right:83px;
    }

    to {
        right:383px;
    }
}
@keyframes toggleright {
    from {
        right:383px;
    }

    to {
        right:83px;
    }
}
@keyframes videoright {
    from {
        right:0px;
    }

    to {
        right:300px;
    }
}
@keyframes videoleft {
    from {
        right:300px;
    }

    to {
        right:0px;
    }
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    z-index:1;
}
.toggle
{
    position: fixed;
    right:83px;
    width: 60px;
    height: 60px;
    background: url(https://i.ibb.co/HrfVRcx/menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    z-index:1000;
    animation:toggleright 0.5s;
}
.toggle.active
{
    background: url(https://i.ibb.co/rt3HybH/close.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
    right:383px;
    animation:toggleslide 0.5s;
}
.showcase
{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    transition: 0.5s;
}
.about{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    transition: 0.5s;
    z-index: 2;
}
.hidden{
    display:none;
}
.showcase.active
{
    right: 300px;
}
.about.active
{
    right:300px;
}

.showcase video
{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    animation:videoleft 0.5s;
}
.showcase.active video{
    right:300px;
    animation:videoright 0.5s;
}
.about video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
.overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #03a9f4;
    mix-blend-mode: overlay;
}
.text
{
    position: relative;
    z-index: 10;
}

.text h2
{
    font-size: 5em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}
.text h3
{
    font-size: 4em;
    font-weight: 700;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}
.text p
{
    font-size: 1.1em;
    color: #fff;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}
.text a
{
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
}
.text a:hover
{
    letter-spacing: 6px;
}
.social
{
    position: absolute;
    z-index: 10;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:7.5vh;
}
.social li
{
    list-style: none;
}
.social li a
{
    display: inline-block;
    margin-right: 20px;
    filter: invert(1);
    transform: scale(0.5);
    transition: 0.5s;
}
.social li a:hover
{
    transform: scale(0.5) translateY(-15px);
}
.menu
{
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:-1;
}
.menu ul
{
    position: relative;
}
.menu ul li
{
    list-style: none;
}
.menu ul li a
{
    text-decoration: none;
    font-size: 24px;
    color: #111;
}
.menu ul li a:hover
{
    color: #03a9f4;
}
#aboutSection{
    position:absolute;
    top:100vh;
}
#projectSection{
    position:absolute;
    top:200vh;
}
#contactSection{
    position:absolute;
    top:300vh;
}
#selfImage{
    width:40vw;
    z-index:10;
    border-radius:5px;
}
#aboutText{
    font-size:1vw;
}
#projectsContainer{
    display:flex;
    margin:auto;
    z-index:1;
    margin-top:6vh;
}
.project{
    text-align:center;
    margin:2vw;
    width:50%;
}
.projectImg{
    margin-left:10vw;
    margin-right:10vw;
    height:24vh;
}
.projectTitle{
    display: inline-block;
    font-size: 1.4vw;
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor:pointer;
    color: white;
    letter-spacing: 2px;
    transition: 0.2s;
}
.projectTitle:hover{
    letter-spacing: 6px;
}
.projectText{
    color:white;
    text-align:start;
    height:20vh;
    line-height:1.9;
}
hr{
    margin:3vw;
    margin-left:7vw;
    margin-right:7vw;
    border-color:#96949426;
    margin-bottom:0;
}
.codeLinks{
    display:flex;
    width:100%;
}
.codeLinks a{
    text-decoration:none;
    margin:auto;
    margin-top:1vw;
    font-weight:bold;
    color:black;
    font-size:1.1vw;
    background-color:white;
    width:49%;
    letter-spacing: 2px;
    transition: 0.2s;
    border-radius:6px;
}
.codeLinks a:hover{
    letter-spacing:6px;
}
#infoSection{
    border-style:solid;
    border-color:white;
    width:40%;
    z-index:1;
    color:white;
    text-align:left;
    font-size:3vh;
    margin:auto;
    border-radius:5px;
}
#infoContainer{
    width:80%;
    margin:auto;
}
#infoTitle{
    text-align:center;
    margin-bottom:3vh;
}
.contactType{
    line-height:3.5;
}
.contactType a{
    text-decoration:none;
    color:white;
}
.contactLogo{
    margin-right:1vw;
    color:#3980bd;
}
#footer{
    position:absolute;
    bottom:0;
    left:0;
    background-color:black;
    color:white;
    width:100%;
    height:10vh;
    text-align:center;
}
#creator{
    font-size:80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight:lighter;
}


@media (max-width: 991px)
{
    .showcase,
    .showcase header
    {
        padding: 40px;
    }
    .text h2
    {
        font-size: 3em;
    }
    .text h3
    {
        font-size: 2em;
    }
    .projectImg{
        height:15vh;
    }
    #infoSection{
        font-size:200%;
        width:100%;
        height:40vh;
        line-height:5;
    }
    #homeSection{
        font-size:2.5vh;
    }
    .toggle{
        background-size: 3.3vh;
    }
    .toggle.active{
        background-size: 3.3vh;
    }
    .menu{
        font-size:7vh;
    }
    .menu ul li a{
        font-size:3vh;
    }
    #aboutSection{
        display:flex;
        flex-wrap:wrap;
        font-size:2.5vh;
    }
    #aboutText{
        font-size:1.1vh;
        position:absolute;
        bottom:4vh;
        width:80%;
        margin-left:11.7vw;

    }
    #selfImage{
        position:absolute;
        top:10vh;
        margin-left:11vw;
        width:70vw;
    }
    #projectsContainer{
        display:flex;
        flex-wrap:wrap;
        margin-top:4vh;
    }
    #projectPageTitle{
        font-size:2.5vh;
    }
    .projectTitle{
        display:block;
        font-size:2.5vh;
        text-decoration:none;
    }
    .project{
        width:100%;
    }
    .projectText{
        color:white;
        text-align:start;
        height:17vh;
        font-size:1.3vh;
        line-height:1.9;
    }
    .codeLinks a{
        font-size:1.6vh;
        border-radius:10px;
    }
    #contactPageTitle{
        font-size:2.5vh;
    }
    #infoSection{
        height:50vh;
    }
    #infoContainer{
        margin-left:10vh;
    }
    a{
        text-decoration:none;
    }
}